body {
  background-color: #63433b;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 95% !important;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
.container-custome {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #422c1e;
}

* {
  font-family: "Poppins", sans-serif !important;
}

.Layout {
  position: relative;
}

.Link:hover {
  text-decoration: none !important;
  color: rgb(248, 248, 248);
}

/* global css  */

.clr-g {
  color: #92cc41 !important;
}

.clr-w {
  color: #ffffff;
}

.clr-y {
  color: #f7d51d;
}

.clr-r {
  color: #e76e55;
}

.clr-rr {
  color: #f71d3a;
}

/* header */

.header {
  margin-top: 20px;
}

.header,
.connection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.CryptoGame {
  font-family: Pixellari;
  font-size: 56px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #fff;
}

.CryptoGame .text-style-1 {
  color: #92cc41;
}

.Balance-0053-Eth {
  height: 53px;
  margin: 0 65px 6px 0;
  font-family: Pixellari;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.CONNECT {
  margin: 9px 24px 14px;
  font-family: Pixellari;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: left;
  color: #f7d51d;
  border: 3px solid #f7d51d;
  padding: 10px 20px;
}

/* sidebar  */

.sidebar {
  height: 663px;
  width: 363px;
  background-image: url(./assets/Crypto/siderbarbg.png);
  background-position: center;
  position: absolute;
  border-radius: 5px;
  border: 3px solid #547b05;
  right: -400px;
  display: none;
  top: 00px;
  color: #fff;
  padding: 30px 40px;
}

.sidebar .header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.sidebar .sidebarUl {
  margin-top: 100px;
}

.sidebar .sidebarUl li p {
  display: flex;
  font-size: 20px;
  align-items: center;
}

.sidebar .sidebarUl li p span {
  display: flex;
  font-size: 16px;
  margin-left: 20px;
}

/* header */

/* ---------------------------------------------------land page ----------------------- */

.Landbackground,
.raidBackground {
  background-image: url("./assets/Crypto/Background.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.land {
  margin-top: 88px;
  height: 170vh;
}

.land .title {
  font-family: Pixellari;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
}

.land .image-collection img {
  width: 80%;
  margin: 20px 0;
  height: 218px;
  object-fit: cover;
  cursor: pointer;
}

/* right side */

.activeGames {
  display: flex;
  width: 100% !important;
  padding: 50px 80px;
  margin: 20px 0px;
  background-repeat: no-repeat;
  background-origin: center;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.activeGames .title {
  font-family: Pixellari;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.activeGames .details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.activeGames .power {
  font-family: Pixellari;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
}

/* DetailsGames */

.DetailsGames {
  padding: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 325px;
  background-size: cover;
}

.game-details {
  padding: 50px 100px;
}

.btn-state {
  background-image: linear-gradient(119deg, #3a3b3a 19%, #1d2019 97%);
  color: #fff;
  padding: 20px 60px;
  font-size: 22px;
  border-radius: 4px;
}

.DetailsGames .details {
  display: flex;
  justify-content: space-between;
}
.fontSize {
  color: #fff;
  font-size: 60px;
}
.box__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* DetailsGames */

/* right side */

/* Flooting menu  */

.flooting-menu {
  position: fixed;
  right: 50px;
  top: 200px;
  color: #fff;
  background: #422c1e;
}

.flooting-menu ul {
  list-style: none;
}

.flooting-menu ul li {
  margin: 20px 0px;
  font-size: 30px;
  cursor: pointer;
}

/* Flooting menu  */

/* ---------------------------------------------------land page ----------------------- */

/* ---------------------------------------------------raid page ----------------------- */

.raid {
  margin-top: 181px;
}

.raid {
  margin-top: 88px;
  height: 240vh;
}

.raid .left {
  width: 90%;
  height: 126px;
  margin: 0 0 52px;
  padding: 0 20px 0 0;
  border-radius: 13px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-image: linear-gradient(
    to top,
    #63433b 100%,
    #67453b 76%,
    #734c3c 50%,
    #88583e 24%,
    #a36841 0%
  );
}

.raid .left .img {
  margin: 0 28px 0 0;
  padding: 41px 49px 45px 46px;
  /* box-shadow: 2px 2px 61px -7px rgba(247, 213, 29, 0.75) inset; */
  /* border-right: solid 3px #f7d51d; */
  border-radius: 13px;
}

.raid .left p {
  font-family: Pixellari;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
}

.raid .right span {
  font-family: Pixellari;
  font-size: 56px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 17px 48px 35px 45px;
  border-radius: 13px;
  background-image: linear-gradient(152deg, #d6a727 8%, #3a7d08 92%);
}

.raid .right p {
  font-family: Pixellari;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
  margin-left: 33px;
}

.raid .header p {
  font-family: Pixellari;
  font-size: 44px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 76px;
}

/* attack description section  */

.raid .details {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  margin-top: 190px;
}

.raid .details h2 {
  font-family: Pixellari;
  font-size: 56px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #fff;
}

.raid .details .primarybtn {
  padding: 20px;
  background-color: #d01e1e;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  border-radius: 7px;
  line-height: 1.32;
  letter-spacing: normal;
  margin-top: 80px;
  color: #fff;
  cursor: pointer;
}

.raid .details .primarybtn:hover {
  background-color: #b20f0f;
}

.raid .details .reward {
  font-family: Pixellari;
  font-size: 40px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f7d51d;
  margin-top: 50px;
}

.raid .details .balance {
  font-family: Pixellari;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #fff;
  margin-top: 20px;
}

.raid .details .increase {
  font-family: Pixellari;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #d5a884;
  margin-top: 20px;
}

/* attack description section  */

/* modal  */

.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgb(224, 201, 201);
  background: rgb(28 28 28 / 0%);
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-section .title {
  font-family: Pixellari;
  font-size: 50px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 14px;
}

.modal-section .title-success {
  font-family: Pixellari;
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: normal;
  color: #fff;
}

.modal-section .title-bottom {
  font-family: Pixellari;
  font-size: 35px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  color: #d5a884;
  margin-top: 20px;
}

.modal-section .successbtn {
  color: white;
  background: radial-gradient(
    43.62% 43.62% at 50% 50%,
    #46e779 0%,
    #11a407 100%
  );
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 10px;
  font-size: 18px;
}

.content {
  width: 30%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 100%;
  height: 90%;
  background: rgb(235 235 235 / 13%);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}

.left p {
  margin: 0;
}
/* modal  */

/* ---------------------------------------------------raid page ----------------------- */
